:root {
	--columns: 3;
	--tile-size: 60px;
	--bg-0: rgb(72, 69, 84);
	--bg-1: rgb(108, 89, 107);
	--bg-2: rgb(132, 108, 110);
	--bg-3: rgb(153, 149, 131);
	--bg-4: rgb(161, 173, 155);
	--bg-5: rgb(179, 193, 186);
	--bg-6: rgb(203, 209, 212);
	--bg-7: rgb(228, 227, 232);
	--red: #d99;
	--green: #8da;
	--blue: #8ad;
	--cyan: #8cc;
	--magenta: #c8c;
	--yellow: #cc8;
	--red: hsl(0 60% 80%);
	--green: hsl(130 60% 80%);
	--blue: hsl(220 60% 80%);
	--cyan: hsl(180 60% 80%);
	--pink: hsl(300 60% 80%);
	--yellow: hsl(80 60% 80%);
	--orange: hsl(40 60% 80%);
	--lilac: hsl(250 60% 80%);
	--grey: hsl(0 0% 80%);
	--color-home: var(--bg-2);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'Courier New', monospace;
	font-size: inherit;
}

html, body {
	margin: 0;
}

body {
	background: var(--bg-0);
	color: var(--bg-5);
	display: grid;
	place-items: center;
}

#app {
	padding: 100px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#app > section {
	width: 100%;
}

@media (width > 460px) {
  #app {
  	width: 460px;
  }
}



nav#tabs {
	pointer-events: none;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
}

nav#tabs > *{
	pointer-events: all;
}

nav#tabs button {
	padding: 8px;
	border: 4px solid var(--bg-0);
	border-width: 8px 4px;
	background: var(--bg-1);
	color: var(--bg-6);
	font-size: 20px;
}

nav#tabs button:hover {
	border-color: var(--bg-6);
}

nav#tabs button.active {
	background: var(--bg-6);
	color: var(--bg-1);
}


.board {
	position: relative;
}

.card {
	position: absolute;
	background: var(--bg-4);
	width: var(--tile-size);
	height: var(--tile-size);
	border: calc(var(--tile-size) * 0.15) solid var(--bg-3);
	color: var(--bg-5);
	font-size: calc(var(--tile-size) * 0.35);
	transition-duration: .4s;
}


.card.cell {
	box-shadow: 0 calc(var(--tile-size) * 0.15) 0 var(--bg-2);
	transition: top .4 ease-in;
	border-width: calc(var(--tile-size) * 0.1) calc(var(--tile-size) * 0.15) calc(var(--tile-size) * 0.2) calc(var(--tile-size) * 0.15);
	border-color: var(--bg-6) var(--bg-5) var(--bg-3) var(--bg-4);
}
.card.cell.weak {
	box-shadow: 0 calc(var(--tile-size) * 0.15) 0 var(--bg-1);
	border-color: var(--bg-5) var(--bg-4) var(--bg-2) var(--bg-3);
	background: var(--bg-3);
}
.card.cell.fallen {
	box-shadow: 0 calc(var(--tile-size) * 0.15) 0 var(--bg-0);
	z-index: -101;
	border-color: var(--bg-1);
	background: var(--bg-2);
}
.card.cell.portal {
	background: var(--bg-2);
}


.pip-container {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*padding-left: calc(var(--tile-size) * 0.14);
	padding-top: calc(var(--tile-size) * 0.14);*/
	padding: calc(var(--tile-size) * 0.2);
	width: 100%;
	height: 100%;
}
.player .pip-container {
	padding: calc(var(--tile-size) * 0.1);/**/
}

.pip-container > div {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.pip-container > div > div {
	width:  calc(var(--tile-size) * 0.14);
	height: calc(var(--tile-size) * 0.14);
}
.pip {
	position: relative;
	background: var(--bg-1);
	/*transform: rotate(45deg);*/
	border: calc(var(--tile-size) * 0.04) solid var(--bg-1);
	z-index: var(--y);
	border-radius: 50%;
}
.pip.empty {
	background: transparent;
}
.fallen .pip {
	background: var(--bg-1);
	border-color: var(--bg-1);
	z-index: calc(var(--y) - .5);
}
.portal .pip {
	background: var(--bg-6);
	border-color: var(--bg-6);
}
.portal.fallen .pip {
	background: var(--bg-1);
	border-color: var(--bg-1);
}
.die.home .pip {
	background: var(--color-home);
	border-color: var(--color-home);
}

.player {
	background: var(--color-player);
	border-color: var(--bg-4);
	border-radius: 50%;
	box-shadow: 0 calc(var(--tile-size) * 0.2) var(--bg-2);
	z-index: var(--y);
	left: calc(var(--x) * var(--tile-size));
	top: calc(var(--y) * var(--tile-size) - .1 * var(--tile-size));
}
.player.fallen {
	border-color: var(--bg-1);
	box-shadow: 0 calc(var(--tile-size) * 0.2) var(--bg-0);
	z-index: calc(var(--y) - .5);
	top: calc(var(--y) * var(--tile-size) + .4 * var(--tile-size));
}
.player.highlight {
	box-shadow: 0 calc(var(--tile-size) * 0.2) var(--color-player);
}
.player.highlight:hover {
	box-shadow: 0 calc(var(--tile-size) * 0.2) var(--bg-7);
}

.card.letter {
	background: var(--bg-0);
	z-index: 300;
	pointer-events: none;
	box-shadow: 0 calc(var(--tile-size) * 0.2) var(--bg-4);
	font-size: calc(var(--tile-size) * .4);
	padding-top: calc(var(--tile-size) * .2);
}

.card.letter::before {
	position: absolute;
	content: '';
	inset: 0 0 80% 0;
	background: var(--bg-2);
}

.card.inline {
	position: relative;
	display: inline-block;
}

.card.free {
	position: static;
}

.key {
	position: absolute;
	font-size: calc(var(--tile-size) * 0.2);
	width: calc(var(--tile-size) * 0.5);
	height: calc(var(--tile-size) * 0.5);
}

a {
	color: #8d8;
}

.die {
	box-sizing: border-box;
	--bg-top: var(--bg-5);
	--bg-corners: var(--bg-4);
	--bg-side: var(--bg-3);
	--bg-side-dark: var(--bg-2);
	background: var(--bg-corners);
	width: var(--tile-size);
	height: calc(var(--tile-size) * 1.51);
	position: absolute;
	background: linear-gradient(to bottom, transparent, transparent 15%, var(--bg-corners) 35%, var(--bg-corners) 80%, transparent 90%, transparent);
	transition-duration: .5s;
	z-index: var(--y);
	left: calc(var(--x) * var(--tile-size));
	top: calc(var(--y) * var(--tile-size));
}
.die.weak {
	--bg-top: var(--bg-4);
	--bg-corners: var(--bg-3);
	--bg-side: var(--bg-2);
	--bg-side-dark: var(--bg-1);
	top: calc(var(--y) * var(--tile-size) + .1 * var(--tile-size));
}
.die.fallen {
	--bg-top: var(--bg-1);
	--bg-corners: var(--bg-0);
	--bg-side: var(--bg-0);
	--bg-side-dark: var(--bg-0);
	z-index: calc(var(--y) - .5);
	top: calc(var(--y) * var(--tile-size) + .6 * var(--tile-size));
}
.die.portal {
	--bg-top: var(--bg-2);
	--bg-corners: var(--bg-0);
	--bg-side: var(--bg-1);
}
.die.portal.fallen {
	--bg-top: var(--bg-0);
	--bg-corners: var(--bg-0);
	--bg-side: var(--bg-0);
}
.die.legal {
	--bg-top: var(--color-player);
}
.die.legal:hover {
	--bg-top: var(--bg-7);
}

.die > * {
	position: absolute;
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	transition-duration: .6s;
	left: 0;
	right: 0;
	height: var(--tile-size);
}
.die > .top {
	background: var(--bg-top);
	top: 0;
	transform: scaleY(1) translateY(0);
}
.die > .side {
	background: var(--bg-side);
	top: 66.66%;
	transform: scaleY(0.5) translateY(-50%);
}
.die > .bottom {
	background: transparent;
	top: 70%;
	transform: scaleY(0) translateY(-100%);
}
.die > .back {
	background: transparent;
	top: -22%;
	transform: scaleY(-0.5) translateY(0);
}

.die > .top > svg {
	/*
	some fonts that support card suits:
	Arial, Lucida Sans, Tahoma, Times New Roman
	*/
	font-family: 'Lucida Sans Unicode';
	position: absolute;
	font-size: calc(var(--tile-size) * .65);
	inset: 0;
	color: var(--bg-side);
	text-align: center;
	transition-duration: .5s;
	margin-top: calc(var(--tile-size) * 0.02);
	content: '';
	fill: var(--bg-side);
}

.die > .top > svg * {
	fill: var(--bg-side);
	transition-duration: .5s;
}

.die > .side > svg * {
	fill: var(--bg-side-dark);
}

.die > .back > svg * {
	fill: transparent;
}

	/*
	some fonts that support card suits:
	Arial, Lucida Sans, Tahoma, Times New Roman
	*/
/*
.die > .top::before {
	font-family: 'Lucida Sans Unicode';
	position: absolute;
	font-size: calc(var(--tile-size) * .65);
	inset: 0;
	color: var(--bg-side);
	text-align: center;
	transition-duration: .5s;
	margin-top: calc(var(--tile-size) * 0.05);
	display: none;
}

.die.spades > .top::before {
	content: '♠';
	display: block;
}
.die.hearts > .top::before {
	content: '♥';
	display: block;
}
.die.diamonds > .top::before {
	content: '♦';
	display: block;
}
.die.clubs > .top::before {
	content: '♣';
	display: block;
}*/

.die.free {
	bottom: 0;
	right: 0;
	left: unset !important;
	top: unset !important;
}

/*.die:hover > .top {
	background: transparent;
	top: -37%;
	transform: scaleY(0) translateY(0);
}
.die:hover > .side {
	background: var(--bg-top);
	top: 0;
	transform: scaleY(1);
}
.die:hover > .bottom {
	background: var(--bg-side);
	top: 66.66%;
	transform: scaleY(0.5) translateY(-50%);
}*/

button {
	border: none;
	padding: 4px;
	background: var(--bg-1);
	color: var(--bg-7);
	transition-duration: .3s;
	transition-property: background;
}

button:hover {
	background: var(--bg-6);
	color: var(--bg-0);
}

button:disabled {
	background: var(--bg-4);
	color: var(--bg-1);
}

button.make-game {
	margin: 10px auto;
	display: block;
	max-width: 450px;
	padding: 10px;
	font-size: 1.5em;
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	transition-duration: .8s;
}

button.make-game.warning {
	color: var(--red);
}

button.make-game.warning:hover {
	color: var(--bg-1);
	background: var(--red);
}

button.corner {
	position: absolute;
	top: 0;
	right: 0;
}

button.tile-button {
	position: absolute;
	font-size: calc(var(--tile-size) * .5);
	width: var(--tile-size);
	height: var(--tile-size);
	bottom: calc(-1.6 * var(--tile-size));
	right: 0;
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	color: var(--bg-0);
	z-index: 9999;
}
button.tile-button:hover {
	background: var(--bg-1);
	color: var(--bg-5);
}
button.tile-button:active {
	background: var(--bg-5);
}

button.help-button {
	position: fixed;
	display: block;
	font-size: calc(var(--tile-size) * .5);
	width: var(--tile-size);
	height: var(--tile-size);
	bottom: 0;
	left: 0;
	margin: 8px;
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	background: var(--bg-1);
	color: var(--bg-5);
	z-index: 9999;
}

button.help-button:hover {
	background: var(--bg-5);
	color: var(--bg-0);
}

.help {
	z-index: 10000;
	position: fixed;
	display: block;
	bottom: calc(var(--tile-size) + 8px);
	left: 8px;
	background: var(--bg-1);
	padding: 8px;
	max-width: min(500px, calc(100% - 16px));
}


.add-button {
	text-align: right;
}

input[type="number"], input[type="text"], select {
	border: none;
	padding: 4px;
	background: var(--bg-4);
	color: var(--bg-0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="number"] {
	-moz-appearance:textfield; /* Firefox */
}


/*input[type="checkbox"] {
	visibility: hidden;
}*/
input[type="checkbox"] + span {
	content: '';
	display: inline-block;
	width: .5em;
	height: .5em;
	border: 4px solid var(--bg-5);
	background: var(--bg-5);
}
input[type="checkbox"]:checked + span {
	background: var(--bg-0);
}
button.checkbox {
	width: .5em;
	height: .5em;
	border: 4px solid var(--bg-5);
	background: var(--bg-5);

}
button.checkbox.checked {
	background: var(--bg-0);

}

fieldset {
	position: relative;
	margin: 0;
	border: 4px solid var(--bg-1);
	border-width: 4px 4px 0 4px;
	padding: 4px;
}
fieldset:last-child, fieldset.standalone {
	border-width: 4px;
}
.tile-showcase {
	position: relative;
	padding-right: var(--tile-size);
	min-height: calc(var(--tile-size) * 1.5);
}

p {
	margin: 4px;
}

h1 {
	font-size: 2em;
	font-weight: 900;
	background-image: linear-gradient(to right, var(--bg-7), var(--bg-2));
	background-clip: text;
	color: transparent;
}

h2 {
	font-size: 1.5em;
	font-weight: 900;
	color: var(--bg-2);
	text-align: right;
}

.help h2 {
	color: var(--bg-3);
}

h2::before {
	content: '🖡 ';
}

h3 {
	margin: 0;
	color: var(--bg-1);
}

.tooltip {
	display: inline-block;
	position: relative;
	width: 26px;
	height: 26px;
	background: var(--bg-1);
	border-radius: 50%;
	text-align: center;
}
.tooltip > span:first-child {
	cursor: default;
}
.tooltip:hover, .tooltip.toggled {
	border-radius: 50% 50% 0 0;
}
.tooltip.toggled {
	background: var(--bg-5);
	color: var(--bg-0);
}
.tooltip > .expandable {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: var(--bg-1);
	color: var(--bg-5);
	width: min(444px, calc(100vw - 16px));
	z-index: 400;
	text-align: left;
	pointer-events: none;
}
.tooltip:hover > .expandable, .tooltip.toggled > .expandable {
	display: block;
}
.tooltip.toggled > .expandable {
	pointer-events: all;
}


ul {
	list-style: square;
}

fieldset ul {
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
}

.warnings {
	margin-top: 16px;
}

.warnings > div {
	margin: 8px 0;
	padding: 8px;
	background:var(--red);
	color:var(--bg-0);
}